body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 48rem;
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
  height: 100%;
}
header {
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(5px);
  //   background-color: #34353623;
  box-shadow: rgba(0, 0, 0, 0.11) 0px 0px 10px 5px;
  padding: 0.4rem 0;
  margin-bottom: 2rem;
  .search {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 1rem;
    margin-right: 1rem;
    .searchBtn {
      height: 1.8rem;
      width: 4rem;
      border: none;
      border-radius: 1rem;
      background-color: #ffd079;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.432);
    }
    .searchTextArea {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      resize: none;
      height: 1rem;
      border: rgba(0, 0, 0, 0.418) solid 1px;
      border-radius: 0.5rem;
      box-shadow: inset rgba(0, 0, 0, 0.425) 0 0 5px;
    }
  }
  .unit {
    margin-left: 1rem;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    background: #ffd079;
    box-shadow: rgba(0, 0, 0, 0.322) 0 0 5px;
    border: none;
  }
}
.container {
  //   height: 40rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
  .leftMain {
    height: 40rem;
    width: 20rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 2rem;
    .card1 {
      max-height: 9rem;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      background: #343536;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.623) 0 0 10px;
      h1,
      h3,
      h4 {
        margin: 0;
      }
      h1 {
        font-weight: 500;
      }
      h3 {
        font-size: 1rem;
        font-weight: 300;
      }
      h4 {
        font-weight: 300;
        font-size: 0.8rem;
      }
      .left,
      .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0;
      }
      .left {
        width: auto;
        .city {
          margin-bottom: 1rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          h4 {
            font-weight: 300;
            font-size: 0.8rem;
          }
          h3 {
            font-weight: 600;
            font-size: 1.2rem;
          }
        }
      }
      .right {
        background-color: white;
        border-radius: 50%;
        min-height: 7.5rem;
        min-width: 7.5rem;
        box-shadow: rgba(0, 0, 0, 0.397) 0 0 10px,
          inset rgb(255, 255, 255) -0.5px -0.5px 0px 2px,
          inset rgba(0, 0, 0, 0.041) -4px -4px 0px 3px;
        img {
          filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.233));
          height: 4rem;
          width: 90%;
          object-fit: cover;
        }
        h3 {
          color: black;
        }
      }
    }
    .card2 {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      background: #343536;
      padding: 2rem 2rem;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.623) 0 0 10px;
      .top {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        border-bottom: solid rgba(255, 255, 255, 0.212) 2px;
        h3 {
          margin: 0.5rem 0;
        }
        p {
          margin: 0;
        }
      }
      .bottom {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        gap: 0.5rem;
        .sunrise,
        .sunset {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          min-width: 5rem;
          min-height: 5rem;
          background-color: white;
          border-radius: 50%;
          img {
            height: 2rem;
            width: 5rem;
            object-fit: cover;
          }
          p {
            font-weight: 600;
            color: black;
            margin: 0;
          }
        }
      }
    }
  }
  .rightMain {
    display: flex;
    width: 20rem;
    .card3 {
      min-height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      background: #343536;
      padding: 1rem 1.5rem;
      border-radius: 1rem;
      box-shadow: rgba(0, 0, 0, 0.623) 0 0 10px;
      .day1,
      .day2,
      .day3,
      .day4,
      .day5,
      .day6,
      .day7 {
        display: flex;
        justify-content: space-between;
        border-bottom: solid rgba(255, 255, 255, 0.253) 2px;
        padding-bottom: 0.7rem;
        .left {
          width: 9rem;
          display: flex;
          flex-direction: column;
          gap: 0.2rem;
          h3 {
            margin: 0;
            font-weight: 600;
            font-size: 1.2rem;
          }
          h4 {
            margin: 0;
            font-weight: 500;
            font-size: 1rem;
          }
        }
        .right {
          height: 4rem;
          width: 4rem;
          background-color: white;
          border-radius: 50%;
          box-shadow: rgba(0, 0, 0, 0.397) 0 0 10px,
            inset rgb(255, 255, 255) -0.5px -0.5px 0px 2px,
            inset rgba(0, 0, 0, 0.041) -4px -4px 0px 1px;
          img {
            height: 4rem;
            object-fit: cover;
            filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.315));
          }
        }
      }
      .day7 {
        border: none;
        padding: 0;
      }
    }
  }
}
.notFound {
  display: hidden;
}

@media only screen and (max-width: 700px) {
  body {
    min-height: 90rem;
  }
  .container {
    flex-direction: column;
    height: 100%;
    width: 90%;
    .rightMain {
      max-width: 100%;
    }
    .leftMain {
      max-width: 100%;
    }
  }
} ;
